@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.bcg-img{
    height: 100vh;
    width: 100vw;
    position: relative;
    background-size: cover;
    background-position: 50% 50%;
    background-image: url(img/books.jpg);
}
.bcg-cover{
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}
.dashboard{
    width: 85%;
    height: 95%;
    overflow: hidden;
    box-shadow: -5px 5px 15px rgb(0, 0, 0),
        -5px -5px 5px rgba(162, 189, 201, 0.2) inset,
        5px 5px 5px rgba(0,0,0, 0.2) inset;
    background-color: rgba(81, 115, 153, 0.26);
    border-bottom: 4px solid rgba(97, 174, 207, 0.5);
    border-left: 3px solid rgba(21, 65, 83, 0.7);
    border-right: 3px solid rgba(97, 174, 207, 0.5);
    border-top: 2px solid rgba(32, 101, 128, 0.7);
    border-radius: 3px;
    color: rgba(255, 255, 255, 0.603);
    text-shadow: -2px -2px rgba(0, 0, 0, 0.4);
    padding: 25px 45px;
    font-family: 'Poppins';
    
}
.header{
    display: flex;
    justify-content: space-between;
}
h1{
    font-size: 2.6em;
    font-weight: bolder;
}
.btn-add{
    align-self: center;
    height: 25px;
    width: 120px;
}

.content{
    width: 100%;
    height: auto;
}
table{
    width: 100%;
}
th, td{
    width: 20%;
}
.popupForm{
    display: none;
        position: fixed;
        top: 15vh;
        left: 35vw;
        z-index: 9;
}
.form-block{
    padding: 35px;
    width: 400px;
    height: 500px;
    background-color: rgba(241, 251, 255, 0.8);
    border: 3px solid rgb(154, 188, 201);
    border-radius: 5px;
    box-shadow: -5px 5px 10px black, 0 0 5px rgb(130, 157, 168) inset;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}
table{
    margin-top: 20px;
    padding: 30px;
    background-color: rgba(66, 105, 143, 0.582);
    background: linear-gradient(43deg, rgba(66,105,143,0.58) 9%, rgba(29,45,124,0.58) 21%, rgba(72,93,162,0.4) 36%, rgba(175,209,255,0.630987429151348) 58%, rgba(117,143,203,0.5) 83%);
    backdrop-filter: blur(8px);
    font-size: large;
    text-shadow: none;
    color: white;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.233) inset;
    border-collapse: collapse;
}

tr:nth-child(even) {
    background-color: rgba(255, 255, 255, 0.247);
}
td{
    padding: 3px 0px;
    padding-left: 20px;
    font-weight: 100;
}
td:nth-child(-n+5):nth-child(n+3){
    text-align: center;
}
th{
    padding: 20px 0px;
    padding-left: 20px;
    font-weight: bold;
}
#popup{
    text-shadow: none;
    font-weight: bold;
    color: rgb(39, 73, 145);
}

input[type=submit]{
    height: 45px;
    margin-bottom: 10px;
    background-color: rgba(28, 60, 129, 0.836);
    color: white;
    border-radius: 5px;
    border: none;
    font-weight: bold;
    cursor: pointer;    
}
label{
    margin-bottom: 5px;
}
input[type=text], input[type=number]{
    padding-left: 10px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(7, 22, 71, 0.842);
    height: 35px;
}
input:focus{
    outline: none;
}
.btn-cancel{
    background-color: rgba(127, 225, 255, 0.685);
    color: white;
    border-radius: 5px;
    border: none;
    font-weight: bold;
    height: 30px;
    cursor: pointer;
}
.tableBtns{
    background: none;
    border: none;
    font-size: larger;
    cursor: pointer;
}
.btn-del, .btn-x{
    color: rgba(14, 29, 78, 0.774);
   
}
.btn-del:hover{
    color: rgba(255, 255, 255, 0.884);
}
.btn-y{
    color: rgba(255, 255, 255, 0.884);
}
.change-icon > .fa + .fa,
.change-icon:hover > .fa {
  display: none;
}
.change-icon:hover > .fa + .fa {
  display: inherit;
  color: rgba(29, 29, 29, 0.5);
}

